h1 {
    background: #f31111;
    color: #ffffff;
    padding: 10px;
    font-size: 52px;
    font-weight: 800;
    text-align: center;
}

li {
    background-color: rgb(229, 211, 247);
    list-style-type: none;
    padding: 10px;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-top: 10px;
}

.method > li {
    background-color: rgb(167, 253, 249);
    list-style-type: decimal;
}

ol > ul > li {
    background-color: honeydew;
}